{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostafa El-Badawy - Portfolio</title>
    <link rel="stylesheet" href="{% static '/portfolio/css/style1.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <script src="{% static 'portfolio/js/style.js' %}"></script>
    <div class="resume">
        <div class="base">
          <div class="profile">
            <div class="photo">
              <!--<img src="" /> -->
              <i class="fas fa-rocket"></i>
            </div>
            <div class="info">
              <h1 class="name">Mostafa El-Badawy</h1>
              <h2 class="job">Ethical Hacker & Web Pentester</h2>
            </div>
          </div>
          <div class="about">
            <h3>About Me</h3>
            I am a passionate ethical hacker and web pentester with experience in bug bounty hunting, penetration testing, and offensive security. I enjoy learning new skills and building my expertise in cybersecurity and programming.
          </div>
          <div class="contact">
            <h3>Contact Me</h3>
            <div class="email"><a href="mailto:example@gmail.com"><i class="fas fa-envelope"></i><span>mostafaelbadawy5@gmail.com</span></a></div>
            <div class="website"><a href="https://github.com/mostafa587" target="_blank"> <i class="fas fa-home"></i><span>My GitHub</span></a></div>
          </div>
          <div class="follow">
            <h3>Follow Me</h3>
            <div class="box">
              <a href="https://www.linkedin.com/in/mostafa-elbadawy-291583250/" target="_blank"><i class="fab fa-linkedin"><img src="{% static 'portfolio/icon/linkedin.png' %}" width="100" height="65" style="position: relative; left: -40px;"></i></a>
              <a href="https://github.com/mostafa587" target="_blank"><i class="fab fa-github"><img src="{% static 'portfolio/icon/gitlab.png' %}" width="100" height="65" style="position: relative; left: -20px;"></i></a>
            </div>
          </div>
        </div>
        <div class="func">
          <div class="work">
            <h3><i class="fa fa-briefcase"></i>Experience</h3>
            <ul>
              <li><span>Computer Security instructor </span><small>instructor for students from Saudi Arabia</small><small>2024</small></li>
              <li><span>Cyber Security Intern</span><small>Information Technology Institute (ITI)</small><small>2024</small></li>
              <li><span>Freelancer</span><small>HackerOne</small><small>Worked on real-world web application hunting</small><small>2023</small></li>
            </ul>
          </div>
          <div class="edu">
            <h3><i class="fa fa-graduation-cap"></i>Education</h3>
            <ul>
              <li><span>Bachelor of Engineering - Communication and Computer Engineering</span><small>Mansoura University</small><small>2020 - 2026</small></li>
            </ul>
          </div>
          <div class="skills-prog">
            <h3><i class="fas fa-code"></i>Skills</h3>
            <ul>
              <li data-percent="90"><span>Bug hunting & Vulnerability discovery</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="75"><span>Cryptography</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="85"><span>Django (Python)</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="75"><span>SQL</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="70"><span>PHP</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="70"><span>HTML, JavaScript</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
            </ul>
          </div>
          <div class="interests">
            <h3><i class="fas fa-star"></i>Interests</h3>
            <div class="interests-items">
              <div class="hacking"><i class="fas fa-user-secret"><img src="{% static 'portfolio/icon/hacker.png' %}" width="100" height="65" style="position: relative; left: -20px;"></i><span>Cybersecurity</span></div>
              <div class="gaming"><i class="fas fa-gamepad"><img src="{% static 'portfolio/icon/games.png' %}" width="100" height="65" style="position: relative; left: -20px;"></i><span>Gaming</span></div>
              <div class="coding"><i class="fas fa-code"><img src="{% static 'portfolio/icon/code.png' %}" width="100" height="65" style="position: relative; left: -20px;"></i><span>Programming</span></div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
